{% extends "main/home.html" %}
{% load staticfiles %}

{% block includes %}
<style>
#hero {
  background-image:url({% static "images/banner/smiling-girl.jpg"%});
   -webkit-filter: brightness(2);
           filter: brightness(2);
}
</style>
{% endblock %}

{% block content %}
<div id="hero"></div>
<h2>Mission</h2>
<p>CeGID will transform the lives of patients with primary immune diseases by discovering the genetic causes of their diseases; caring for them compassionately through innovative treatments aimed at cure; and offering education and advocacy. We enhance the Precision Health mission of the School of Medicine by deepening our understanding of genetic and epigenetic immune factors that confer risk for autoimmune and infectious disease. We will offer personalized medical care for each patient based on genetic, functional, and other findings, including repurposing drugs for individual use and running clinical trials for cohorts. We will make long-lasting, transformative changes in the field of immune diseases by bringing together researchers from around Stanford and across the world to our cause.</p>

<h3 style="padding-top:30px;padding-bottom:20px">Major aspects</h3>
<h4>Patient population</h4>
<ul style="padding-bottom:20px">
    <li>Patients with primary diseases of the immune system, who have clinical features of increased susceptibility to infection, defective tolerance (autoimmunity), or autoinflammation</li>
</ul>

<h4>CeGID will offer</h4>
<ul>
    <li>To improve diagnoses, CeGID will run a clinic for the evaluation and treatment of pediatric and adult patients referred for these immune phenotypes.</li>
    <li>We will offer in-house research tests for rapid phenotyping and functional assessment of immune cells, including novel assays not yet available in routine clinical laboratories.</li>
    <li>In collaboration with partners, we will sequence exomes and genomes and interpret variants using state-of-the-art algorithms.
When mutations are identified that could explain the patient’s disease, we will validate those mutations in known immune genes and establish methods for validating mutations in novel genes.</li>
    <li>Over time, patients with genetic immune diseases will be directed for specific genetic repair at the Center for Definitive and Curative Medicine.
We will advocate for patients with rare immune diseases and educate physicians at Stanford and in the community about these disorders through seminars and clinical immersion.</li>
    <li>Pilot program for research projects that help patients and build new capabilities for CeGID</li>
    <li>A seminar series that highlights immune deficiency diseases and human immunology research.</li>
    <li>A repository of specimens and data</li>
</ul>


<h4 style="padding-top:30px">Four major benefits will be realized:</h4>
<ol>
    <li>New treatments are made possible by rational understanding of the damaged pathways, including repurposed drugs;</li>
    <li>Learning new biology from the rare diseases leads to understanding how the immune system works and enables future discoveries and cures;</li>
    <li>Helping patients with rare diseases generates new ideas for treating more common diseases of immune dysfunction including allergy, autoimmunity, and cancer; and</li>
    <li>Identifying the defects causing genetic immune diseases allows patients to be directed for specific gene therapies.</li>
{% endblock %}
