<header class="main_header" style="margin-top:30px">
    <div class="row">
        <a class="logo" href="{% url 'home' %}">CeGID</a>
        <small style="margin-top:5px">Center for Genetic Immune Diseases</small>
        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="#">Patients</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">People</a></li>
            </ul>
        </nav>
    </div>
</header>
