{% extends "main/base.html" %}
{% load staticfiles %}
{% block includes %}
{% endblock %}

{% block header %}
    {% include 'main/header.html' %}
{% endblock %}

{% block main %}
<div class="row" style="padding-left:0px">
{% block sidebar %}
<div class="col-md-3">
    <div class="left-sidebar">
    {% include 'main/sidebar.html' %}
    {% block sidebarbottom %}{% endblock %}	
    </div>
</div>
{% endblock %}

<div class="col-md-9" id="contentblock">
{% block content %}{% endblock %}
</div>
</div>
{% endblock %}
{% block footer %}
    <div class="footer-widget">
	<div class="container">
	    <div class="row">
	    </div>
        </div>
    </div>
{% endblock %}
