{% extends "main/base.html" %}
{% load staticfiles %}
{% block includes %}
 <style>
    body, html{ margin: 0;}
    path{ fill: none; stroke: gray; stroke-width: 2; }
    circle.left-chain { fill: #999; opacity: 0.88;{% if articles %}cursor: pointer;{% endif %}}
    circle.right-chain { fill: #CCC;  opacity: 0.98;{% if articles %}cursor: pointer;{% endif %}}
    #hello{position:absolute;top:300px; left:15px; z-index:2000;font-size:80px;color:#666}
    #details{position:absolute;top:400px; left:15px; z-index:2000;font-size:20px;color:#999}
    {% if articles %}
    #article{position:absolute;top:50px; left:15px; 
             z-index:2000;font-size:16px;color:#999;
             background-color:#F7F7F7;border-radius:10px;
             padding:5px;}
    {% endif %}
    #enter{position:absolute;top:500px;}
  </style>
    <script src="{% static "js/jquery.js"%}"></script>
    <script src="{% static "js/d3.js"%}"></script>
    <script src="{% static "js/dz.js"%}"></script>
{% endblock %}

{% block main %}
<div class="row">
   <div class="col-md-11" id="gene">
       {% if articles %}
       <span id="article">
           <h2 style="font-size:18px" id="article_title"></h2>
           <p id="article_description"></p>
       </span>
       {% endif %}
       <span id="hello"></span>
       <span id="details"></span>
   </div>
   <div class="col-md-1">
       <a href="{% url 'home' %}"><button id="enter" class="btn btn-default btn-lg">Enter</button></a>
   </div>
</div>

<script>
{% if articles %}
var articles = {{ articles | safe }}
articles.shift()
{% endif %}

var perspective = dz.projection.perspective()
  , cameraPos = [1, -1, 5]
  , camera = perspective.camera().position(cameraPos).focalLength(2)
  , w = window.innerWidth, h = window.innerHeight
  , sin = Math.sin, cos = Math.cos, π = Math.PI, τ = π * 2
  , max = Math.max(w, h), min = Math.min(w, h), diff = max - min
  , r = w / 12
  , copy = function(data){ return data.slice(0) }

  // screen scaling
  , ranges = [ [0, max] , [ - diff / 2, max - diff / 2] ]
  , screenX = d3.scale.linear().domain([-1, 1]).range(ranges[w < h ? 1 : 0])
  , screenY = d3.scale.linear().domain([1, -1]).range(ranges[w > h ? 1 : 0])
  , svg = d3.select('#gene').append('svg').attr({width: w, height: h})
  , leftHelix = helix(20).map(dz.matrix().translate([0, -π, 0]).multiVector)
  , rightHelix = leftHelix.map(copy).map(dz.matrix().rotateY(π).multiVector)
  , line = d3.svg.line()
      .x(function(d){ return screenX(perspective.x(d)) })
      .y(function(d){ return screenY(perspective.y(d)) })

function helix(n){
  return d3.range(n).map(function(i){
    return [sin(i / n * τ), i / n * τ, cos(i / n * τ)]
  })
}

{% if articles %}
function update(){
  this.attr('cx', function(d){ return screenX(perspective.x(d.coords)) })
    .attr('cy', function(d){ return screenY(perspective.y(d.coords)) })
    .attr('r', function(d){ return perspective.scale(d.coords) * r })
}
{% else %}
function update(){
  this.attr('cx', function(d){ return screenX(perspective.x(d)) })
    .attr('cy', function(d){ return screenY(perspective.y(d)) })
    .attr('r', function(d){ return perspective.scale(d) * r })
}
{% endif %}

var rows = svg.append('g').attr('class', 'rows').selectAll('path')
  .data(d3.zip(leftHelix, rightHelix)).enter().append('path')
  .attr('d', line)

var LH = [];
var RH = [];

{% if articles %}
// Update left halves
$.each(leftHelix,function(i,e){
  var article = articles.shift()
  var entry = {"article":article,
               "coords":e}   
  LH.push(entry)
})
// Update right halves
$.each(rightHelix,function(i,e){
  var article = articles.shift()
  var entry = {"article":article,
               "coords":e}   
  RH.push(entry)
})
{% else %}
LH = leftHelix;
RH = rightHelix;
{% endif %}

var leftChain = svg.selectAll('circle.left-chain').data(LH)
  .enter().append('circle').attr('class', 'left-chain').call(update)

var rightChain = svg.selectAll('circle.right-chain').data(RH)
  .enter().append('circle').attr('class', 'right-chain').call(update)

function OpenInNewTab(url) {
  var win = window.open(url, '_blank');
  win.focus();
}

var circles = svg.selectAll('circle')
    .on("mouseover",function(d){
        $(this).css("fill","#0F83FE")
        $("#article_title").text(d.article.title);
        var description = d.article.fulljournalname + ", " + d.article.epubdate
        $("#article_description").text(description);
    })
    .on("mouseout",function(d){
        if ($(this).hasClass("left-chain")){
            $(this).css("fill","#999")
        } else {
            $(this).css("fill","#CCC")
        }
    })
    {% if articles %}
    .on("click",function(d){
        var url = "http://www.ncbi.nlm.nih.gov/pubmed/" + d.article.uid;
        OpenInNewTab(url);
    });
    {% endif %}

d3.timer(function(t){
  t = t / 5000
  perspective.camera().position(dz.matrix().rotateY(t).rotateZ(t/2).multiVector(cameraPos))
  circles.call(update)
  {% if articles %}
    .sort(function(a, b){ return perspective.depth(a.coords) - perspective.depth(b.coords) })
  rows.attr('d', line) 
  {% else %}
    .sort(function(a, b){ return perspective.depth(a) - perspective.depth(b) })
  rows.attr('d', line)
  {% endif %}
})

  </script>
{% endblock %}
{% block scripts %}
<script src="{% static "js/typed.min.js"%}"></script>
<script>
  $(function(){
      $("#hello").typed({
        strings: ["^9000 The Center for","Genetic Immune Diseases", "at Stanford Medicine"],
        typeSpeed: 0,
        showCursor: false
      });
      $("#details").typed({
        strings: ["envision a world","where immune diseases are rapidly identified,", "treated and,", "genetically cured.","","^5000 Welcome!"],
        typeSpeed: 0,
        showCursor: false
      });
  });
</script>
{% endblock %}
