<div class="left-sidebar">
        <div class="panel-group category-products" id="accordian">

            <!-- Patients -->
	    <div class="panel panel-default">
		<div class="panel-heading">
		    <h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordian" href="#patients">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
				Patients
			</a>
		    </h4>
		</div>
                <div id="patients" class="panel-collapse collapse">
		    <div class="panel-body">
			<ul>
			    <li><a href="#">Disease specific patient information </a></li>
			    <li><a href="#">Clinical Trials </a></li>
		        </ul>
		    </div>
		</div>
  	    </div>

            <!-- Research -->
 	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordian" href="#research">
			    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
				Research
			</a>
		    </h4>
		</div>
  	        <div id="research" class="panel-collapse collapse">
	        <div class="panel-body">
		    <ul>
		        <li><a href="#">Disease specific portal</a></li>
		        <li><a href="#">Fundamental immunology projects</a></li>
		        <li><a href="#">Treg Biology</a></li>
		        <li><a href="#">Tr1</a></li>
		        <li><a href="#">TCR sequencing</a></li>
		    </ul>
	        </div>
	    </div>
        </div>

        <!-- People -->
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#accordian" href="#people">
		        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
				People
		    </a>
		</h4>
	    </div>
  	    <div id="people" class="panel-collapse collapse">
	        <div class="panel-body">
		    <ul>
		        <li><a href="{% url 'faculty' %}">Faculty (Associate Directors)</a></li>
		        <li><a href="{% url 'staff' %}">Staff</a></li>
		    </ul>
	        </div>
	    </div>
        </div>
				
	<!--Contact-->		
        <div class="panel panel-default">
	    <div class="panel-heading">
		<h4 class="panel-title"><a href="#">Contact</a></h4>
	    </div>
	</div>
    </div>	
  </div>
